@import './common.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $color-black;
}

.player {
  width: zoom(7px);
  height: zoom(7px);
  background-size: 100% 100%;
}

.controls {
  position: absolute;
  left: zoom(233px);
  top: zoom(124px);
  width: zoom(87px);
  height: zoom(45px);
  border: zoom(1px) solid $color-blue-light;
  background: $color-blue-light;
  cursor: pointer;
}

.list-item {
  position: relative;
  float: left;

  &:last-child {
    margin-right: 0;
  }
}

.control {
  width: zoom(28px);
  height: zoom(21px);
  margin-right: zoom(1px);
  margin-bottom: zoom(1px);
  &:nth-child(2),
  &:nth-child(5) {
    width: $width - zoom(1px);
  }
  &:nth-child(3) {
    margin-right: 0;
  }
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-bottom: 0;
  }
}
