@import "./common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: $color-black;
  color: #fff;
  font-family: "Roboto", Helvetica, sans-serif;
}

h3 {
  text-transform: capitalize;
}

span {
  color: #fff;
}

footer {
  margin: 10px 20px;
  color: #def;
}

nav {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}

.container {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.sidebar {
  float: right;
}

.tabs {
  display: flex;
  align-self: flex-start;
  margin: 0;
}

.tab {
  margin: 2px;
}

.party {
  align-self: flex-end;
}

.avatar {
  border: 1px solid $color-grey-dark;
  width: 128px;
  height: 128px;
}

.hero-name {
  color: goldenrod;
  text-transform: uppercase;
}

.active .hero-name {
  color: yellow;
}

.active img {
  border: 1px solid $color-green;
}

.bar {
  display: inline-block;
  width: 20px;
  margin: 0 2px 0 2px;
  padding-block-start: 90px;
}

.health {
  background-color: $color-red;
}

.stamina {
  background-color: $color-green;
}

.mana {
  background-color: $color-blue;
}

.hurt {
  background-color: $color-red;
}

.map {
  position: relative;
  display: block;
  padding: 10px;
  width: 420px;
  height: 320px;
  border: 1px solid $color-grey-dark;
  color: #fff;
  text-align: center;
}

.tile {
  position: relative;
  display: inline-block;
  width: zoom(20px);
  height: zoom(20px);
  border: 1px solid #fff;
  background-color: #444;
  color: #fff;
}

.wall {
  background-color: $color-black;
}

.water {
  background-color: $color-blue;
}

.player {
  width: zoom(7px);
  height: zoom(7px);
  background-size: 100% 100%;
}

.controls {
  display: block;
  width: 160px;
  color: #fff;
  cursor: pointer;
}

.control {
  display: inline-block;
  margin: 1px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background-color: $color-blue-light;
  color: $color-grey;
  text-align: center;
  user-select: none;

  &:last-child {
    margin-right: 0;
  }
}

.control-blank {
  display: inline-block;
  margin: 1px;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: default;
  user-select: none;
}

.control:hover {
  color: #fff;
}
